// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$ddt-red: #971a4b;
$ddt-footer-grey: #303e48;
$ddt-footer-lightgrey: #f6f4f5;

.ddt-footer
{
    background: $ddt-footer-lightgrey;
}

.ddt-footer-2
{
    background: $ddt-footer-grey;
    color: white;
}

.ddt-footer-title
{
    color: $ddt-red;
    font-weight: bold;
}

#navbarSupportedContent .dropdown-item
{
    text-align: right;
}

#navbarDropdown
{
    text-align: right;
}

.navbar-light .navbar-brand
{
    font-size: x-large;
    &.ddt-title {
        color: $ddt-red;

    };
    &.ddt-title-black{
        color: black;
    }
}

.ddt-title
{
    color: $ddt-red;
};
.ddt-title-black
{
    color: black;
}

.ddt-filter-button
{
    background:none;
    border: none;
    cursor: pointer;
    font-size:large;
    font-weight: bold;
}
.red-font
{
    color: red;
}
.vl {
    border-left: 1px solid $ddt-red;
}
h3, .h3 {
    font-size: 1.9rem;
}
@media screen and (min-width: 576px) {
    .modal-lg,
    .modal-xl {
        max-width: 860px;
    }
}

@media screen and (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}
.pull-right{
    float: right;
}