// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue';

$ddt-red: #971a4b;
$ddt-footer-grey: #303e48;
$ddt-footer-lightgrey: #f6f4f5;

body{
    background: white;
}
.main-div
{
    width: 100%;
}


.ddt-footer
{
    background: $ddt-footer-lightgrey;
}

.ddt-footer-2
{
    background: $ddt-footer-grey;
    color: white;
}

.ddt-footer-title
{
    color: $ddt-red;
    font-weight: bold;
}

#navbarSupportedContent .dropdown-item
{
    text-align: right;
}

#navbarDropdown
{
    text-align: right;
}

.navbar-light .navbar-brand
{
    font-size: x-large;
    &.ddt-title {
        color: $ddt-red;

    };
    &.ddt-title-black{
        color: black;
    }
}

.ddt-title
{
    color: $ddt-red;
};
.ddt-title-black
{
    color: black;
}

.ddt-filter-button
{
    background:none;
    border: none;
    cursor: pointer;
    font-size:large;
    font-weight: bold;
}
.red-font
{
    color: red;
}
.vl {
    border-left: 1px solid $ddt-red;
}
h3, .h3 {
    font-size: 1.9rem;
}
@media screen and (min-width: 576px) {
    .modal-lg,
    .modal-xl {
        max-width: 860px;
    }
}

@media screen and (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}
.pull-right{
    float: right;
}
span.bp-dropdown__btn{
    border: none;
}
.ddt-dropdown-bp__btn {
    background:none;
    border: none;
    cursor: pointer;
    font-size:large;
    //font-weight: bold;
}
.ddt-dropdown-bp__btn--active {
    background: #fff;
}


.ddt-dropdown-bp__body {
    width: 20rem;
    padding: 2rem;

}
.spinner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    z-index: 10000000;
    opacity: 0.6;
    margin-left: 0px;
    margin-right: 0px;
}
.spinner .centered{
    position: fixed;
    top: 50%;
    left: 50%;
    color: $ddt-red;
}

.graph-button-section{
    background: none;
    color: $ddt-red;
    border: none;
}
.graph-button-section::after{
    display: inline-block;
    margin-left: 7px;
    vertical-align: 1px;
    content: "";
    border-top: 7px solid;
    border-right: 5px solid transparent;
    border-bottom: 0px;
    border-left: 5px solid transparent;
    /*webkit-transform: rotate(-180deg);*/
}
.graph-button-section:hover{
    background: none;
    color: $ddt-red;
    border: none;
}
.graph-button-section:focus{
    background: none;
    color: $ddt-red;
    border: none;
    box-shadow: none;
}
.graph-button-section:active{
    background: none;
    color: $ddt-red;
    border: none;
    box-shadow: none;
}
.graph-button-section:not(:disabled):not(.disabled):active{
    background: none;
    color: $ddt-red;
    border: none;
    box-shadow: none;
}
.pie-chart{
    height: 400px;
    width: 400px;
}
.pie-chart-comp{
    margin: auto;
}

.pie-multiselect{
    width: 50%;
}
@media screen and (max-width: 992px) {
    .pie-multiselect{
        width: 100%;
    }
}


.container-list {
    display: flex;
}

.container-multiselect {
    display: -webkit-box;
}
.col-list {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.item-container-list {
    padding: 1px;
    margin: 1px;
}

div.vue-tags-input.ti-disabled{
    background: transparent;
    max-width:  100%;
    border: 0px solid;
    }


div.vue-tags-input.ti-disabled div.ti-input{
    border: 0px solid;
}

li.ti-tag.ti-valid div.ti-actions i.ti-icon-close{
    display: none;
}

.span-active-filter{
    font-size: large;
    padding: 4px;
}
.button-clear-active-filter{
    border: none;
    border-radius: 20px;
    font-size: medium;
    padding-left: 9px;
    padding-right: 9px;
}

.button-save-active-filter{
    border: none;
    border-radius: 20px;
    font-size: medium;
    color: white;
    background: darkblue;
    padding-left: 9px;
    padding-right: 9px;
}

.button-show-saved-seach{
    justify-content: flex-end;
    border: solid 1px;
    border-radius: 20px;
    font-size: medium;
    color: black;
    background: white;
}


.tg  {border-collapse:collapse;border-spacing:0;border-color:gray;border-style:solid;border-width:1px;}
.tg td{font-family:Arial, sans-serif;font-size:11px;
    overflow:hidden;padding:5px 4px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:11px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-color{text-align:left;vertical-align:top}
.tg .tg-value{text-align:left;vertical-align:top}



.sa2-table{
    border-color:gray;
    border-style:solid;
    border-width:1px;
}

.sa2-table thead th{
    border-color:gray;
    border-style:solid;
    border-width:1px;
}

.sa2-table tbody th{
    border-right:1px solid gray;
}

.sa2-table .table-title{
    color: $ddt-red;
}
.sa2-table .table-title-client{
    font-size:11px;
}

.sa2-table .table-subtitle{
    color: $ddt-red;
}

.sploc-table{
    border-color:gray;
    border-style:solid;
    border-width:1px;
}

.sploc-table thead th{
    border-color:gray;
    border-style:solid;
    border-width:1px;
}

.sploc-table tbody td{
    border:1px solid gray;
}

.sploc-table thead .table-red{
    color: $ddt-red;
}
